<div class="modal-header">
    <h4 class="modal-title" style="font-family: 'fonte'; font-size: 40px;" >INFORMAÇÕES</h4>
  </div>
  <div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-body">
              <span> Aqui será colocado as informações sobre o método AHP e Fuzzy ou outro método escolhido</span>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="botaoModalInformacoes" ng-click="fechar()">Entendido</button>
  </div>