<div class="modal-header">
    <h4 class="modal-title" style="font-family: 'fonte'; font-size: 40px; text-align: center;" >INFORMAÇÕES</h4>
  </div>
  <div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-body" style="text-align: justify; font-family: 'fonte'; font-size: 25px;">  
              <h3 style="text-align: center;">MÉTODO AHP</h3>
              <span style="font-family: 'fonte'; font-size: 25px;">Para a verificação da execução do método, recomendados olhar o console para verificar os resultados obtidos ao 
                longo da execução.
              </span>
              <hr class="rounded">
              <span >
                As duas categorias das entradas escolhidas foram Pesquisa e Impacto. 
                O primeiro tem relação com a apresentação das atividades da organização 
                dentro do espaço da universidade em eventos como SIAc e Festival do Conhecimento. 
                Essa categoria é importante, pois, através dela, conseguimos medir quanto o projeto difunde as experiências e resultados de suas atividades dentro da universidade
                 para outras pessoas e organizações. A outra categoria escolhida foi Impacto, que 
                 se relaciona com a quantidade de pessoas dentro e fora da universidade impactadas
                  pelas ações do projeto. Através desse dado conseguimos inferir o real impacto do
                   projeto para a vida das pessoas.
              </span>
              <hr class="rounded">
              <span>
                Entradas:<br>
                  Taxa de Menção Honrosa<br>
                  Quantidade de Apresentações<br>
                  Impacto Externo<br>
                  Impacto Interno<br>


              </span>
              <hr class="rounded">
              <span>
                ATENÇÃO NA HORA DO PREENCHIMENTO DE INFORMAÇÕES!
              </span>

        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="botaoModalInformacoes" ng-click="fechar()">Entendido</button>
  </div>