<div ng-controller="abrirFecharModal">
    <div class="modal-header">
        <h4 class="modal-title" style="font-family: 'fonte'; font-size: 40px; text-align: center;" >RESULTADOS</h4>
      </div>
      <div class="modal-body" ng-init="restoreStateExtensoes()">
        <div class="panel panel-default">
            <div class="panel-body">
                  <div  style='text-align: center;' ng-repeat="extensao in extensoesQt">
                        <h2><strong> A Extensão {{extensao.name | uppercase}} </strong> obteve <strong>{{extensao.resultado | number:4}}</strong></h2>
                  </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="botaoModalInformacoes" ng-click="fechar()">OK</button>
      </div>
</div>
